nav.navigation {
    overflow: auto;
    border-bottom: .5px solid orange;
    padding: .5em;
    background-color: rgb(75, 129, 129);
}

nav.navigation .site-logo {
    float: left;
}
nav.navigation .site-logo img{
    transform: rotate(290deg);
    transition: transform 0.3 ease-in-out;

}
nav.navigation .site-logo img:hover{
    transform: rotate(120deg);
    transition: .5s;

}
nav.navigation .site-logo h2{
    transition: background .2s ease-in-out;  /*Adds a smooth transition effect*/
}
nav.navigation .site-logo h2:hover{
    /* border-bottom: .5px solid orange; */
    background: aliceblue;
    cursor: pointer;
}
nav.navigation .site-logo h2{
    display: inline;
    color:rgb(85, 81, 74);
    text-transform:capitalize;
    color:rgb(10, 1, 10);
    
}

nav.navigation ul {
    list-style-type: none;
    margin: 0;

}

nav.navigation ul li {
    float: right;
    background: rgb(75, 129, 129);
    margin-right: 1em;
    padding: 1em;
}

nav.navigation ul li a {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(12, 8, 1);
    font-size: large;
    font-weight: bolder;
    

}

nav.navigation ul li:hover {
    background: rgb(210, 250, 131);
    cursor: pointer;
}
/*showcase*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 80vh;
    background-position: center;
    background-size: cover;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.border {
    border: 1px solid black;
    background-image:url(assets/sunset2.jpg)
}

.content {
    border: .5px solid white;
    border-radius: 6px;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content h2 {
    font-size: 30px;
    line-height: 45px;
    color: orange;
}

.content p {
    /* text-align: justify; */
    line-height: 30px;
    margin-bottom: .5em;
}

.content a {
    text-decoration: none;
    font-size: 20px;
    background: orange;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
}

.content a:hover {
    background: blue;
    color: white;
}

.overlay {
    /* background: black; */
    background-image: linear-gradient(to right, orange, black, orange);
    height: 100%;
    width: 100%;
    opacity: .5;
}
/*showcase end*/